<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
	class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

	<div id="menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vender/}">VENDER</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/productos/mostrar}">PRODUCTOS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/ventas/}">VENTAS</a>
			</li>
	

			
			<li class="nav-item">
				<a class="nav-link" th:href="@{/registro/}">NUEVO USUARIO</a>
			</li>				
		</ul>	
		 <form>
			  <li class="navbar-text" sec:authorize="isAuthenticated()"><a
					th:href="@{/logout}">Cerrar
					sesión</a></li>
		 </form>
					
    
					
   





	</div>
</nav>