<nav th:fragment="navbar" xmlns:th="http://www.thymeleaf.org"
	class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

	<div id="menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/vender/}">PUNTO DE VENTA</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/productos/mostrar/}">STOCK PRODUCTOS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/ventas/}">DETALLE VENTAS</a>
			</li>			
			<li class="nav-item">
				<a class="nav-link" th:href="@{/registro/}">NUEVO USUARIO</a>
			</li>	
		
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			 &nbsp; &nbsp; &nbsp; &nbsp;  
			 <a class="nav-link floar-right" sec:authorize="isAuthenticated()" th:href="@{/logout}">
				Cerrar Sesión</a>			
		</ul>	
		 <form>
			 	
		 </form>
					
    
					
   





	</div>
</nav>