<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div th:replace="layouts/navbar :: navbar"></div>

<br><br>
<body>
	<main layout:fragment="contenido">
		<div class="col-12">
			<h1 class="p-2 bg-warning text-white">AGREGAR PRODUCTO</h1>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>
			<form th:object="${producto}" th:action="@{/productos/agregar}" method="post">
				<div class="form-group">
					<label for="nombre">Nombre del producto</label>
					<input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
						placeholder="Escribe el nombre del producto" type="text" class="form-control" required
						th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{nombre}"></div>
				</div>
				<div class="form-group">
					<label for="codigo">Código de barras</label>
					<input autocomplete="off" th:field="*{codigo}" id="codigo"
						placeholder="Escribe el código del producto" type="text" class="form-control"
						th:classappend="${#fields.hasErrors('codigo')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{codigo}"></div>

				</div>
				<div class="form-group">
					<label for="stock">Stock Actual</label>
					<input autocomplete="off" th:field="*{stock}" id="stock" placeholder="Cantidad actual del producto"
						type="number" class="form-control" required
						th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{stock}"></div>

				</div>
				<div class="form-group">
					<label for="precioCompra">Precio Compra</label>
					<input autocomplete="off" th:field="*{precioCompra}" id="precioCompra" placeholder="Precio Compra"
						type="number" class="form-control" required
						th:classappend="${#fields.hasErrors('precioCompra')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{precioCompra}"></div>

				</div>

				<div class="form-group">
					<label for="precioVenta">Precio Venta</label>
					<input autocomplete="off" th:field="*{precioVenta}" id="precioVenta" placeholder="Precio Venta"
						type="number" class="form-control" required
						th:classappend="${#fields.hasErrors('precioVenta')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{precioVenta}"></div>

				</div>
				<br>
				<div style="text-align: center;">
				<button class="btn btn-success" type="submit">Guardar</button>
				</div>
			</form>
		</div>
	</main>
	
</body>

</html>