<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">

<head>
	<meta charset="utf-8">

</head>

<body>
	<script type="text/javaScript">
$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);
</script>
	<main layouts:fragment="contenido">

		<div class="container">
			<form th:action="@{/productos/cargaMasiva}" method="get"
				<h2 style="text-align: center;">Ingresar Carga Masiva de Productos</h2>
				<br>

				<div class="custom-file">
					<input type="file" class="custom-file-input" id="customFileLang" lang="es">
					<label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
				</div>
				<br>
				<br>
				<a  class="btn btn-warning" th:href="@{/}">Volver Atras</a>
			</form>
		</div>
	</main>

</body>

</html>