<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">

<head>

	<meta charset="utf-8">
</head>
<main layout:fragment="contenido">
	<div class="col-12">
		<h1 class="p-2 bg-warning text-white">EDITAR PRODUCTO </h1>
		<form th:object="${producto}" th:action="@{/productos/editar/} + ${producto.id}" method="post">
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
				<label for="nombre">Nombre del producto</label>
				<input autocomplete="off" autofocus th:field="*{nombre}" id="nombre"
					placeholder="Escribe el nombre del producto" type="text" class="form-control"
					th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
				<div class="invalid-feedback" th:errors="*{nombre}"></div>
			</div>
			<div class="form-group">
				<label for="codigo">Código de barras</label>
				<input autocomplete="off" th:field="*{codigo}" id="codigo" placeholder="Escribe el código del producto"
					type="text" class="form-control"
					th:classappend="${#fields.hasErrors('codigo')} ? 'is-invalid' : ''">
				<div class="invalid-feedback" th:errors="*{codigo}"></div>
			</div>
			<div class="form-group">
				<label for="stock">Stock actual</label>
				<input autocomplete="off" th:field="*{stock}" id="stock" placeholder="Cantidad actual del producto"
					type="number" class="form-control"
					th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
				<div class="invalid-feedback" th:errors="*{stock}"></div>
			</div>
			<div class="form-group">
				<label for="precioCompra">Precio Compra</label>
				<input autocomplete="off" th:field="*{precioCompra}" id="precioCompra" placeholder="Precio Compra"
					type="number" class="form-control"
					th:classappend="${#fields.hasErrors('precioCompra')} ? 'is-invalid' : ''">
				<div class="invalid-feedback" th:errors="*{precioCompra}"></div>
			</div>

			<div class="form-group">
				<label for="precioVenta">Precio Venta</label>
				<input autocomplete="off" th:field="*{precioVenta}" id="precioVenta" placeholder="Precio Venta"
					type="number" class="form-control"
					th:classappend="${#fields.hasErrors('precioVenta')} ? 'is-invalid' : ''">
				<div class="invalid-feedback" th:errors="*{precioVenta}"></div>
			</div>
			<br>
			<div style="text-align: center;">
				<button class="btn btn-success" type="submit">Guardar</button>
			</div>
			
		
		</form>
	</div>
</main>
</body>

</html>