<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
<head>

	<meta charset="utf-8">
</head>

<body>
	<!-- Navigation -->

	<main layout:fragment="contenido">
		<div class="col-12">
			<h1 class="p-2 bg-success text-white">PUNTO VENTA</h1>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>
			<form th:object="${producto}" th:action="@{/vender/agregar}" method="post">
				<div class="form-group">
					<h6 for="codigo">Código de Barra</h6>
				

					<input autofocus autocomplete="on" th:field="*{codigo}" id="codigo" 
						placeholder="Escanea el código o escríbelo y presiona Enter" type="text" class="form-control"
						th:classappend="${#fields.hasErrors('codigo')} ? 'is-invalid' : ''">
					<div class="invalid-feedback" th:errors="*{codigo}"></div>
				</div>
			</form>
		<br>
			<div class="table-responsive">
				<table class="table table-striped" style="font-size: 15px;">
					<thead class="table-dark">
						<tr>
							<th>Nombre</th>
							<th>Stock</th>
							<th>Código</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
							<th>Quitar de lista</th>
						</tr>
					</thead>
					<tbody style="font-size: 15px;">
						<tr th:each="producto, iterador : ${session.carrito}">
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.stock}"></td>
							<td th:text="${producto.codigo}"></td>
							<td th:text="${producto.precioVenta}"></td>
							<td>
								<form th:action="@{/vender/cantidad/} + ${iterador.index}" method="post">
									<input style="width: 30%;" type="number" id="cantidad" name="cantidad" autofocus
										autocomplete="on" maxlength="2" min="1" max="99" th:value="${producto.cantidad}"
										method="post" />
								</form>
							</td>
							<td th:text="${producto.total}"></td>
							<td>
								<form th:action="@{/vender/quitar/} + ${iterador.index}" method="post">
									<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-borde" style="border-color: whitesmoke;">
					<tr>
						<td>							
							<h5 style="text-align: center;" th:text="${'SubTotal: $' + subTotal}"></h5>
						</td>
					</tr>	
					<tr>
						<td style="text-align: center;">		
							<form th:action="@{/vender/descuento}" method="post">		
							<h5>Desc.% <input style="width: 10%;" type="number" id="descuento" name="descuento" th:value="${descuento}"/></h5>
									</form>
						</td>

					</tr>
						<tr>
						<td>							
							<h5 style="text-align: center;" th:text="${'TOTAL: $' + total}"></h5>
						</td>

					</tr>
				</table>


				<form class="mb-2" th:action="@{/vender/terminar}" method="post" style="text-align: center;">
					<div>
						<button type="submit" class="btn btn-success">Terminar Venta<i class="fa fa-check"></i>
						</button>
						&nbsp;
						<a th:href="@{/vender/limpiar}" class="btn btn-danger">Cancelar venta&nbsp;<i
								class="fa fa-trash"></i>
						</a>
						<br>
						<br>

				</form>
	

			</div>
		</div>

	</main>

	
</body>


</html>