body {
	/*Para la barra superior fija*/
	padding-top: 70px;
	/*Para la barra inferior fija*/
	padding-bottom: 70px;
}

.fondoLito {
	background-image: url('/images/logoblanco.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: auto;
	margin: auto;
}



.banner {
	background-image: url('/images/banner.png');
	height: 10%;

	background-repeat: no-repeat;
}

.excel {
	background-image: url('/images/excel.png');

	height: 10%;
}




.cgr_background_circle_green {
	height: 31px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #fff !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_verde_30_30.png');
}

.icono_usuario {
	height: 48px !important;
	width: 48px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #fff !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/iconUser.png');
}

.cgr_background_circle_yellow {
	height: 31px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #000 !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_amarillo_30_30.png');
}

.cgr_background_circle_red {
	height: 31px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #fff !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_rojo_30_30.png');
}

.btn_filtrar {
	padding: 10px 20px;
	background-color: rgb(128, 128, 128);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn_filtrar:hover {
	background-color: rgb(128, 128, 128);
}

.btn_filtrar:active {
	background-color: rgb(128, 128, 128);
}

.form_resumen {
	width: 18%;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	border: #000;
	font-weight: bold !important;
	font-size: 24px !important;
}

.form_border {
	border: #000;

}