body {
    /*Para la barra superior fija*/
    padding-top: 70px;
    /*Para la barra inferior fija*/
    padding-bottom: 70px;
}

.fondoPrincipal{
    background-image: url('/images/logoblanco.png');
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}


.banner{
    background-image: url('/images/banner.png');
    height:10%;
   
    background-repeat: no-repeat;
}

.excel{
    background-image: url('/images/excel.png');
    
    height:10%;
}




.cgr_background_circle_green {
	height: 31px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #fff !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_verde_30_30.png');
}

.cgr_background_circle_yellow {
	height: 31px !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #000 !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_amarillo_30_30.png');
}

.cgr_background_circle_red {
	height: 31px  !important;
	font-weight: bold !important;
	font-size: 9px !important;
	color: #fff !important;
	border: transparent !important;
	background-position: center !important;
	background-repeat: no-repeat;
	background-image: url('/images/circulo_rojo_30_30.png');
}


