<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">

<head>
	<meta charset="utf-8">


</head>

<body>
	
	</style>
	
	<main layout:fragment="contenido">
		<div class="col-12">
			<h1 class="p-2 bg-success text-white">RESUMEN DE VENTAS</h1>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>
			<form th:action="@{/ventas/filtroResumen}" method="post" >
				<table class="table table-striped">
					<tr>
						<td>
							<label>Desde: &nbsp;</label> <input type="text" name="fechaDesde" style="width: 100px;" th:value="*{fDesde}"
								id="fechaDesde" />&nbsp;&nbsp;<label>Hasta: </label> &nbsp;<input type="text" th:value="*{fHasta}"
								name="fechaHasta" style="width: 100px;" id="fechaHasta" />&nbsp;&nbsp;
							<button type="submit" class="btn_filtrar">Filtrar</button>

						</td>
					</tr>
				</table>
			</form>
			<div class="table-responsive">
				<form class="form_border">
					<table class="table table-striped">
						<h3 style="text-align: center;">RESUMEN VENTAS DIARIAS</h3>
						<tr>
							<td>
								<h5>Fecha: </h5>
							</td>
							<td>
								<h5 th:text="${fecha}"></h5>
							</td>
						</tr>
						<tr>
							<td>
								<h5>SubTotal: </h5>
							</td>
							<td>
								<h5 th:text="${'$ ' + subTotal}"></h5>
							</td>
						</tr>
						<tr>
							<td>
								<h5>Descuento Total: </h5>
							</td>
							<td>
								<h5 th:text="${'$ ' + desc}"></h5>
							</td>
						</tr>
						<tr>
							<td>
								<h5>Monto Total: </h5>
							</td>
							<td>
								<h5 th:text="${'$ ' + total}"></h5>
							</td>
						</tr>
					

					</table>
			</div>
			</form>
		</div>

		</div>
	</main>

</body>

</html>